.need{
  font-family: Roboto;
}

.need img{
  max-width: 320px;
  max-height: 400px;
  /* display: block; */
}

.need img:hover{
  transform: scale(0.95);
  transition: 0.5s ease;
}

.need h4{
font-weight: 700;
color: black;
margin-top: 10px;
}


@media only screen and (max-width: 600px) {

.need{
  padding: 40px;
  margin: auto;
}

}
